.who-container {
  .who-header {
    background: #262626;
    color: #fff;
    height: 190px;
    position: relative;
    padding-top: 100px;

    .who-headers-text {
      font-size: 40px;
      color: white;
      font-family: serif;
      border-bottom: 2px solid var(--goldColor);
      border-top: 2px solid var(--goldColor);
      width: fit-content;
      margin: auto;
    }
  }
  .who-row {
    min-height: 400px;
    .who-col {
      padding: 7%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .who-col-right {
      background: #262626;
      color: white;
    }
  }

  .who-lower-row {
    background: #e8edef;
    color: #000;
    text-align: center;
    .who-lower-row-container {
      margin: 0 auto;
      max-width: 690px;
      padding: 90px 20px 100px;
      text-align: center;
      p {
        text-align: center;
        position: relative;
        padding-bottom: 20px;
      }
      .who-lower-button {
        border: 2px solid rgba(51, 51, 51, 0.3);
        color: #333 !important;
        padding: 10px 25px;
        transition: background 0.4s, border-color 0.4s, color 0.4s;
        &:hover {
          background: white;
          color: var(--goldColor) !important;
          border: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .who-img-col {
    display: none;
  }
  .who-col {
    padding: 20px;
  }
}
